.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #d5ddeb;
}

.block-1 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .block-1 {
    display: block;
  }
}

