.container-button {
    display: block;
    margin-top: 50px;
}

#divBoutton2 {
    display: none;
}

.button {
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px #929090;
  color: #2c3e50;
  cursor: pointer;
  font-family: inherit;
  font-size:16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  box-shadow: 0 2px #929090;
  top: 2px;
}

#QuotesListe {
  padding-left: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
li {
  list-style-type: none;
  width: 60%;
  height: auto;
  font-size: 1.2em;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

li::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}